* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: inherit;
    color: inherit;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: green;
}

.body {
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
    background-color: #000000;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: #000000;
}

@media (max-width: 500px) {
  .header__container {
    flex-direction: column;
  }
}

.header__title {
    display: flex;
    flex-direction: column;
}

.header__title h1,
.header__title h2 {
    color: #ffffff;
}

ul {
    margin: 10px 20px;
    list-style-type: square;
}

ul li {
    margin: 5px 0;
}

.main {
    padding: 25px;

    background: linear-gradient(0, #ffffff, #000000);
}

.main section {
    padding: 10px 0;
}

.example-code {
    margin-bottom: 10px;
}

section pre {
    padding: 16px;
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 500px) {
  section pre {
    font-size: 10px;
  }
}

.footer {
  padding: 25px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyrigth span,
.copyrigth span time {
    color: #000000;
}

.copyrigth {
  color: #000000;
    text-align: right;
}

.github {
    text-align: center;
}

.rolling-scopes-school {
    width: 33%;
    text-align: left;
}

.rolling-scopes-school img {
    max-width: 100%;
}
